.favorite-item{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.favorite-item h2 {
  font-size: 1.15rem;
  margin: 0.25rem 0;
}

.favorite-item p {
  margin: 0.25rem 0;
}

.favorite-item-trashcan{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
